@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Source+Sans+Pro&display=swap');

div,
button {
  font-family: 'Source Sans Pro', sans-serif !important;
}

.App {
  max-height: 100vh;
}

.time {
  font-family: 'Koulen', cursive !important;
  font-size: 350px;
}

.logo {
  height: 10vh;
}